{% extends "base.html" %} {% block title %}{{ super() }}{% endblock %} {% block content %}
<!-- Admin Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('admin_dashboard') }}">
            <i class="fas fa-cog me-2"></i>Admin Panel
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#adminNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="adminNavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin_dashboard') }}">
                        <i class="fas fa-tachometer-alt me-1"></i>Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin_projects') }}">
                        <i class="fas fa-folder me-1"></i>Projects
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin_users') }}">
                        <i class="fas fa-users me-1"></i>Users
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin_orders') }}">
                        <i class="fas fa-shopping-cart me-1"></i>Orders
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin_inquiries') }}">
                        <i class="fas fa-heart me-1"></i>Inquiries
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin_contacts') }}">
                        <i class="fas fa-envelope me-1"></i>Contacts
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        <i class="fas fa-user me-1"></i>{{ current_user.name }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    {% block admin_content %}{% endblock %}
</div>
{% endblock %}